.alert-container{
    background-color: #14181fd1;
    width: 100vw;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;     
    padding: 0px 20px;
}

.content-alert{
    background-color: #12151b;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
    border-left: 4px solid rgb(0, 164, 0);
    gap: 1rem;
}

.b-red{
    border-left: 4px solid #d20658;
}

.description-modal{
    color: #4d5a73;
}

.pathColorRed{
    fill: rgb(210, 6, 88);
}