div.h3 {
    padding-left: 25px;
    margin-bottom: 20px;
}

a.cards-links {
    text-decoration: none;
}

.container-cards{
    padding: 0 25px;
}

.cards {
    display: flex;
    padding: 15px;
    background-color: #1C2129;
    border-radius: 10px;
    margin-bottom: 15px;
}


.desc-card{
    width: 70%;
}

.text-color-t{
    color: #9DA9BF;
    font-weight: 700;
}

.arrow{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.arrow img{
    cursor: pointer;
}

.p-size{
    font-size: 12px;
    font-weight: 600;
    color: #484D54;
}

.cards:hover{
    background-color: #1ADF2E;
}

.cards:hover .text-color-t{
    color: #31343A;
}

.cards:hover .p-size{
    color:#474747;
}

.cards:hover .path {
    stroke: #31343A;
}

.cards:hover .fill{
    fill: #31343A;
}

/* setup-patrocinador.html - main */

.section-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0px 13px;
}

.section-cards .icon-social{
    padding-top: 3px;
}

.social-cards{
    background-color: #212630;
    padding: 10px 15px;
    border-radius: 6px;

    width: 100%;
    max-width: 480px;

    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.social-cards p{
    font-size: 14px;
    color: #7e7e7e;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* setup-patrocinador.html - warning */

.container-warning {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.content-btn{
    padding: 0px 15px;
    width: 100%;
}

.container-warning h4{
    color: #00bcd4;
}

.container-warning div{
    max-width: 480px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-warning div p{
    text-align: left;
    font-size: 14px;
    color: #484848;
    padding: 0px 17px;
}

.container-btn-acess{
    width: 100%;
    background-color: #673ABC;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 74px;
}

.container-btn-acess .btn-acess{
    width: 144px;
    display: flex;
    gap: 5px;
}

.container-btn-acess:hover{
    background-color: #733ed6;
}

/* setup-me.html - main */


.containerMain{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.containerMain div.containerChild{
    display: flex;
    width: 100%;
    max-width: 500px;
}
.child-1{
    padding: 0px 20px;
}

.child-1 form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.containerMain div h5{
    color: #B4B4B4;
    font-size: 12px;
}

.container-ipt{
    background-color: #212630;
    display: flex;
    gap: 1rem;
    padding: 10px 10px;
    border-radius: 5px;
}

.container-ipt div{
    display: flex;
    align-items: center;
    border-right: 1px solid #484848;
    padding-right: 10px;
}

.container-ipt input{
    background-color: #212630;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
}

.container-btn-save{
    background-color: #1abb004d;
    display: flex;
    gap: 1rem;
    border: 1px solid #1ABB00;
    border-radius: 5px;
    padding: 13px 20px;
}

.container-btn-save div{
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid #1ABB00;
}

.container-btn-save button{
    width: 100%;
    border: none;
    background-color: transparent;
    color: #1ABB00;
    font-size: 16px;
    font-weight: bold;
    font-family: "Nunito";
}

.ctn-line{
    padding: 0px 20px;
}

.line{
    width: 100%;
    border: 1px solid #4246644d;
    border-top: none;
}

.content-db{
    margin-bottom: 30px;
}

.date-me{
    background-color: #191E26;
    width: 100%;
    border-radius: 5px;
}

.date-me header{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #4246644d;
}

.date-me header h5{
    font-size: 11px;
}

.icon-database{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    position: relative;
}

.status-database{
    position: absolute;
    top: 50px;
    color: #2F3845;
    font-size: 22px;
    font-weight: 500;
}

.dataSets{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.dataSets div{
    padding: 0px 10px;
    height: 40px;
    border-bottom: 1px solid #39465A;
    display: flex;
    align-items: center;
}