.modalUser-container{
    background-color: #000000bf;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

.modalUser{
    width: 100%;
    max-width: 480px;
    background-color: #12161C;
    border-radius: 5px;
    padding-bottom: 16px;
    position: relative;
}

.header-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #33425b5c;
}

.header-modal .x-close{
    cursor: pointer;
}

.descriptionModalUser{
    padding: 20px 20px;
    padding-right: 80px;
    font-size: 14px;
    color: #556278;
}

.contentModalUser{
    padding: 0px 20px;
}

.contentModalUser div{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #33425b26;
    border-bottom: 1px solid #33425b26;
    padding: 8px 0px;
}

.contentModalUser div span{
    color: #556278;
    font-size: 15px;
}

.contentModalUser div.r-border{
    border-bottom: none;
}

.btn-modalUser{
    display: flex;
    gap: 0.5rem;
    padding: 0px 20px;
    margin-top: 15px;
}

.btn-modalUser button{
    width: 100%;
    height: 40px;
    background-color: #ffd302;
    border: none;
    font-weight: bold;
    font-family: "Nunito";
    color: #343434;
    border-radius: 3px;
    cursor: pointer;
}

.btn-modalUser button.btn-back{
    width: 40%;
    background-color: #d8237a00;
    border: 1px solid #ededed17;
    color: #ffc801;
}

.loader-btn{
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #12161C;
}

.contentModalUser div span.valuesUser{
    color: #ffffffe0;
    font-weight: 500;
}